<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>AI Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let s of scenarios" [routerLink]="s.path" button detail="true">
      <ion-label>
        <h2>{{ s.title }}</h2>
        <p>{{ s.desc }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
